<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd"
                        profile="base">
	<!-- 自动扫描 -->
	<context:component-scan base-package="org.movie.dao,org.movie.service" /> 
	
	<!-- 数据源使用引入的文件 -->
	<!-- <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:db.properties" />
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
	</bean> -->
	
	<!--test 数据源  -->
	<import resource="spring-core-test.xml"/>
	<!--dev 数据源  -->
	<import resource="spring-core-dev.xml"/>
	
	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:org/movie/mapper/*.xml"></property>
		<!-- 添加映射配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />  
	</bean>
	<!--注入sqlsessionTemplate -->
	<!-- 数据访问模板类 -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.code.server.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean> -->

	<!-- AOP相关 -->
	<!--启动aop的自动代理  -->
	<aop:aspectj-autoproxy />
	<!-- (事务管理器)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!--事务注解生效？  -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!--AOP 日志打印  -->
	<bean id="logAspect" class="org.movie.aspect.LogAspect">
	</bean>
	
	
	<!-- xmemcached 配置-->
	<!-- <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:memcached.properties" />
	</bean> -->
	
	<bean name="memcachedClient"
                class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean" destroy-method="shutdown">
                <property name="servers">
                        <value>192.168.101.177:11211 192.168.101.178:11212</value>
                </property>
                <!-- 权重 -->
                 <property name="weights">
                        <list>
                                <value>1</value>
                                <value>1</value>
                        </list>
                </property>
                 <!-- 分布策略 使用一致性hash -->
                <property name="sessionLocator">
                        <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"></bean>
                </property>
   </bean>
</beans>  